$darkest : #151515;
$green : #4EE1A0;
$darkGrey : #242424;
$lightGrey : #D9D9D9;
$white : #FFFFFF;

$largeText : 88px;
$mediumText : 38px;
$smallText : 24px;
$regularText: 18px;

$profile-image : url('../public/assets/images/onias.png');
$project-image-1 : url('../public/assets/images/pj-1.webp');
$project-image-2 : url('../public/assets/images/pj-2.webp');
$project-image-3 : url('../public/assets/images/pj-3.webp');
$project-image-4 : url('../public/assets/images/pj-4.webp');
$project-image-5 : url('../public/assets/images/pj-5.webp');
$project-image-6 : url('../public/assets/images/pj-6.webp');


* {
	margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	background: $darkest;
	color: $white;
	font-family: "Space Grotesk Medium";
	font-size: $regularText;
}

.general-wrapper {
	display : flex;
	align-items: center;
	justify-content: center;
}

.body-wrapper {
	width: 1110px;
}

.introduction-wrapper {
	display: grid;
}

.header-section {
	display: grid;
	height: 98px;
	grid-template-columns: 1.3fr 445px;
}

.header-left-column {
	display: flex;
	align-items: center;
}

.logo-section {
	font-size: $mediumText;
	font-weight: bold;
	letter-spacing: -1.5px;
}

.header-right-column {
}

.socials-header-wrapper {
	display: grid;
	padding-left: 50%;
	padding-right: 30px;
	height: 78px;
	background: $darkGrey;
}

.socials-header-section {
	display: flex;
	flex-direction: row-reverse;
	gap: 30px;
}

.introduction-content-section {
	display: grid;
	grid-template-columns: 1.3fr 445px;
	margin-top: 140px;
	height: 60vh;
}

.introduction-left-column {
	// background: brown;
}

.greeting-text {
	font-weight: bold;
	font-size: $largeText;
	line-height: 88px;
	letter-spacing: -2.5px;
	margin-bottom: 40px;
	overflow: visible;
}

.greeting-paragraph {
	// background-color: red;
  // width: 600px;
  // height: 600px;
	width: 110%;
	z-index: 9999;
	position: relative;
	
}

.description-text {
	font-size: $regularText;
	line-height: 28px;
	margin-bottom: 80px;
}

.introduction-right-column {
	margin-top: 160px;
	background: $darkGrey;
	height: 397px;
}

.my-picture-section {
	background-image: $profile-image;
  height: 397px;
  width: 100%px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.underlined-portion {
	border-bottom: 6px solid $green;
  padding-bottom: 4px;
}

.underlined-portion-sm {
	border-bottom: 2px solid $green;
  padding-bottom: 4px;
}

.contact-me-button {
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.contact-me-button:hover {
	color: $green;
}

.section-divider {
	margin-top: 104px;
	margin-bottom: 80px;
	width: 100%;
	height: 1px;
	background: $white;
}

.technologies-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
	height: 35vh;
	// background: red;
}

.skill-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px
}

// TODO: use this when project's filter is implemented
.skill-wrapper:hover {
	color: $green;
}

.skill-name {
	font-size: $mediumText;
	font-weight: bold;
	cursor: pointer;
}

// 159px until next section
.projects-section-wrapper {
	margin-top: 159px;
}

.projects-header-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid-item {
	display: flex;
	align-items: center;
}

.projects-header-section .grid-item:first-child {
  justify-content: start;
}

.projects-header-section .grid-item:last-child {
  justify-content: end;
}

.project-section-title {
	font-size: $largeText;
	font-weight: bold;
}

.projects-content-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 30px;
	margin-top: 75px;
}

.single-project-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.project-image-section {
	width: 540px;
	height: 400px;
	background: rgb(161, 113, 121);
}

// .project-image-section.project-1 {
// 	background-image: $project-image-1;
// }

.project-title {
	font-size: $smallText;
}

@mixin project-image($image) {
  background-image: $image;
	background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.project-technologies-tags {
	font-size: $regularText
}

.project-1 {
  @include project-image($project-image-1);
}

.project-2 {
  @include project-image($project-image-2);
}

.project-3 {
  @include project-image($project-image-3);
}

.project-4 {
  @include project-image($project-image-4);
}

.project-5 {
  @include project-image($project-image-5);
}

.project-6 {
  @include project-image($project-image-6);
}